
/* Mobile first - default styles */

body {

	font-family: 'Cutive Mono', sans-serif;
}

div#countdown span.countdown {
	color: red;
}

div#countdownWrapper  label {

	display: inline !important;
	margin: 0px !important;
    width: 30%;
}

div#countdownWrapper input[type='text'] {

    width: 60%;
}

/*Small devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
}*/
	
/*Medium devices (desktops, 992px and up)*/
/*@media (min-width: 992px) {	
}*/
	
/*Large devices (large desktops, 1200px and up)*/ 
/*@media (min-width: 1200px) {
}*/
